a {
  margin: 10px;
}

.dash_nav span {
  position: relative;
  left: 400px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  width: 40px;
  margin: 0px 10px;
}

.image2 {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 10px;
}

p {
  font-size: 10px;
}

h1 {
  font-size: 4.5rem;
}

h4 {
  font-size: 50px;
  font-style: inherit;
}

.main {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -20px;
}

.main1 {
  display: flex;
  justify-content: space-between;
  float: right;

}

.right_section {
  float: right;


}

.orange {
  float: right;
  width: 100%;
}

.circle {
  width: 300px;
  position: relative;
  bottom: 335px;
  right: 100px;
}

.Vector {
  position: relative;
  width: 76%;
  bottom: 670px;
  right: 65px;
}

.men {
  position: relative;
  width: 100%;
  bottom: 1004px;
  right: 111px;

}


 .blue{
    width: 84%;
    height: 300px;
    border-top-right-radius: 200px;
    background-color: skyblue;
    margin: 50px 0px 0px;
    display: flex;
    justify-content: flex-end;
    gap:20px; 
    position: absolute;  
    top: 505px;
} 
 .website_desidn,.web_development,.mobile{
    width: 249px;
    height: 153px;
    border: 1px solid silver;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 130px;
    padding: 10px;
    font-size: 17px;
}
.globe,.computer{
    width: 30px;
    height: 30px;
    background-color: hotpink;
    border-radius: 5px;
}
.mobile_phone{
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 5px;
} 

.third-section{
  position: relative;
}
.image_vector   {
  top:0;
  width:200px;
  position: absolute;
  z-index: 1;
}
.image_vector1{
  top:0;
  width:700px;
  position: absolute;
  z-index: 3;
}

/* .rocket{
  width: 249px;
  height: 153px;
  border: 1px solid silver;
  background-color: white;
  border-radius: 10px;
  position: relative;
  top: 130px;
  padding: 10px;
  font-size: 17px;
}
.rocket1{
  width: 30px;
  height: 30px;
  background-color: hotpink;
  border-radius: 5px;
} */

