body {
    margin: 0px;
}

.image_vector {
    width: 600px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.image_vector1 {
    width: 745px;
    position: absolute;
    top: -150px;
    z-index: 3;
}

.image_vector2 {
    width: 550px;
    position: absolute;
    top: 27px;
    left: 36px;
}

.ourExpects {
    font-size: 36px;
}

.expects_img1 {
    height: 150px;
}

.top_heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.monial{
    text-align: center;
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-size: 35px;

}
.bg-section {
    background-color: rgb(255, 210, 230, 0.4);
    padding: 100px 0;
    position: relative;
    top: -150px;
    margin-left: 180px;
    border-top-left-radius: 276px;

}

.bg-white {
    border-radius: 6px;
    height: 220px;  
}

.heading {
    font-size: 24px;
    font-weight: 600;
    float: left;
}

.heading {
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.clients {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.container1 {
    background-color: rgba(250, 250, 250);
    display: flex;
    justify-content: center;
    text-align: center;

}
.quotations{
    border: 0.5px solid silver;
    border-style: dotted;
    height: 200px;
    padding: 15px;
}

.q1{
    width: 30px;
    float: left;
}

.q_text{
    text-align: start;
    font-size: 15px;
}
.container2 {
    background-color: black;
    border-top-right-radius: 192px;
    height: 440px;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0 0;
}

.map {
    margin-top: 30px;
    height: 500px;
}

.map img {
    width: 384px;
    height: 306px;

}

.head {
    margin-top: 30px;
}

::placeholder {
    color: white;
}

.button1 {
    background-color: white;
    color: black;
    padding: 15px;
    width: 150px;
    height: 60px;
}

a {
    margin: 10px;
}

.dash_nav span {
    position: relative;
    left: 200px;
    font-weight: 700;
}
h1.heading{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
     font-size: 35px;


}
.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    margin: 0px 10px;
}

.image2 {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 10px;
}

p {
    font-size: 10px;
}

h1 {
    font-size: 67px;
}

h4 {
    font-size: 50px;
    font-style: inherit;
}

.main {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -20px;
}

.main1 {
    display: flex;
    justify-content: space-between;
    float: right;
}

.right_section {
    float: right;

}

.orange {
    position: absolute;
    top: -66px;
    right: 0;
    width: 530px;
    height: 500px;
}

.circle {
    position: absolute;
    width: 350px;
    top: 70px;

}

.Vector {
    position: absolute;
    width: 300px;
    left: 100px;
    top: 14px;
}

.men {
    position: absolute;
    width: 500px;
    top: 50px;
}

.ellips11{
    width:400px;
    position: relative;
    left: 280px;
    z-index: -1;
    top: 100px;
}
.section-head{
position: relative;
top:150px;
z-index: 1;
}
.blue {
    width: 84%;
    border-top-right-radius: 200px;
    background-color: skyblue;
    margin: 50px 0px 0px;
    display: flex;
    /* justify-content: flex-end; */
    gap: 20px;
}

.website_design,
.web_development,
.mobile {
    width: 249px;
    height: 153px;
    border: 1px solid silver;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 130px;
    font-size: 3px;
    padding: 12px;
}

.rocket{
    border-radius: 6px;
    height: 160px;
    width:310px;    
    border: 1px solid silver;
    background-color: white;
    border-radius: 10px;
     position: relative;
    top: 130px;
    left: 600px; 
    font-size: 3px;
    padding: 12px;;
}

.globe,
.computer {
    width: 30px;
    height: 30px;
    background-color: hotpink;
    border-radius: 5px;
}

.mobile_phone {
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 5px;
}

.third-section {
    position: relative;
}
.map_text{
    width: 200px;
    height: 85px;
    background-color: white;
    
    color: black;
    position: absolute;
    top: 15px;
    left: 35px;
    padding: 5px;
}

.arrow{
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 50%;
    padding: 5px;
}

h3{
    margin-top: -8px;
}
input{
    background-color: black;
    color: white;
    padding: 15px;
    border: 1px solid white
}
