<nav class="dash_nav">
    <a routerLink="/homee">Home</a>
    <a routerLink="Dashboard-home"> Dashboard-home</a>
    <a routerLink="/aboutus">About Us</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/contactus">Contact Us</a>
    <span class="top_heading">Dream Agency</span>
</nav>

<div class="main">
    <div class="parent">
        <img class="image1" src="../../assets/Ellipse 8.png" alt="">
        <img class="image2" src="../../assets/12967496761553233092 (1) 2.png" alt="">
    </div>
    <div class="parent">
        <img class="image1" src="../../assets/Ellipse 8.png" alt="">
        <img class="image2" src="../../assets/14459920111530103316 2.png" alt="">
    </div>
    <div class="parent">
        <img class="image1" src="../../assets/Ellipse 8.png" alt="">
        <img class="image2" src="../../assets/16304616191553750378 2.png" alt="">
    </div>
</div>

<div class="container-fluid ">
    <div class="row" style="height:500px;">
        <div class="col-sm-6">

            <h1>We help you</h1>
            <h4>to grow your <br>
                Business</h4>
            <p style="font-size: 20px;">Lorem Ipsum has been the industry's standed dummy text ever <br>
                since the 1500s, When as unknown printer took a galley of type and <br>
                scrambled it to make a type specimen book.</p>
            <button class="btn btn-dark ">GET STARTED</button>
        </div>

        <div class="col-sm-6">
            <img class="orange" src="../../assets/Vector 1.png" alt="">
            <img class="circle" src="../../assets/Ellipse 16.png" alt="">
            <img class="Vector" src="../../assets/Vector 3.png" alt="">
            <img class="men" src="../../assets/Mask Group 2.png" alt="">
        </div>
    </div>

    <div class="col-sm-12 " style="height:600px;">
        <div class="section-head">
            <h3 class="text-center" style="font-size: 40px;"> What We do</h3>
            <div class="text-center" style="font-size: 35px;">For Your <span
                    style="border-bottom: 5px solid gold;">Business</span></div>

        </div>
        <div class="blue col-sm-12">
            <div class="web_development">
                <img class="computer" width="30px" src="../../assets/computer-6823 1.png" alt=""><br>
                <h5>WEB DEVELOPMENT</h5>
                <P>Lorem Ipsum has been the industry's standed dummy text ever since the 1500s.</P>
            </div>
            <div class="mobile">
                <img class="mobile_phone" width="30px" src="../../assets/mobile-phone-1164 1.png" alt="">
                <h5>MOBILE APP DEVELOPMENT</h5>
                <P>Lorem Ipsum has been the industry's standed dummy text ever since the 1500s.</P>
            </div>
            <div class="website_design">
                <img class="globe" width="30px" src="../../assets/website-4943 1.png" alt=""><br>
                <h5>        WEBSITE DEVELOPMENT</h5>
                <P>Lorem Ipsum has been the industry's standed dummy text ever since the 1500s.</P>
            </div>

            <div style="width:200px" class="rocket">
                <img class="globe" width="30px" src="../../assets/Group.png"><br>
                <h5>MARKET position</h5><br>
                <P>Industry's standed dummy text ever since the 1500s.</P>
            </div>

            <div> <img class="ellips11" src="../../assets/Ellipse 11.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div style="height:700px;" class="row">
        <div class="col-sm-6">
            <img class="image_vector" src="../../assets/Vector 9.png" alt="">
            <img class="image_vector1" src="../../assets/Mask Group.png" alt="">
            <img class="image_vector2" src="../../assets/Ellipse 16.png" alt="">
        </div>

        <div class="col-sm-6">
            <div class="mt-3">
                <h4>About Us</h4>
                <h3>Fake or <span style="border-bottom: 5px solid gold;">Real</span></h3>
                <P style="font-size: 15px;">Lorem Ipsum has been the industry's standed dummy text ever since the 1500s.
                    Lorem Ipsum has been the industry's standed dummy text ever since the 1500s.
                    Lorem Ipsum has been the industry's standed dummy text ever since the 1500s.Drive employee
                    development, productivity, and engagement — even through times of change — with Leapsome’s
                    intelligent people enablement platform</P>
                <button type="button" class="btn btn-dark">Explore More</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12  mt-4">
        <h1>Our Recent work</h1>
        <div class="ourExpects">By Our <span style="border-bottom: 5px solid gold;"> Expects </span></div>
        <div class="bg-section col-xs-12">
            <div class="row">
                <div class="col-sm-6 col-xs-12"></div>
                <div class="col-sm-6 mb-4"> Search For Blog website. Find It Here! Compare Results. Find Blog website.
                    Millions Search Results. Results Now. You Ask, We Answer. Search Here. Smart Search. Online
                    Searches. All The Info You Need. All Your Questions. Web Search Info. Services: Web Search,
                    Information
                </div>


                <div class="col-sm-3"></div>
                <div class="col-sm-3 col-xs-12">
                    <div class="bg-white">

                        <img class="expects_img1" src="../../assets/Mask Group 3.png" alt="">
                        <img class="expects_img1" src="../../assets/Mask Group(1).png" alt="">
                        <div class="mx-3 mt-3"> <span class="heading"> UI Soup </span> 
                        <span class="btn btn-sm btn-outline-dark float-right"> View Work</span>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3 col-xs-12">
                    <div class="bg-white">
                        <img class="expects_img1" src="../../assets/Mask Group(2).png" alt="">
                        <img class="expects_img1" src="../../assets/Mask Group(3).png" alt="">

                        <div class="mx-3 mt-3"> <span class="heading"> Goldcrown Labs </span> 
                            <span class="btn btn-sm btn-outline-dark float-right"> View Work</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-12">
                    <div class="bg-white mr-2">
                        <img class="expects_img1" src="../../assets/Mask Group(4).png" alt="">
                        <div class="mx-3 mt-3"> <span class="heading"> Close Concierge </span> <span
                                class="btn btn-sm btn-outline-dark float-right"> View Work</span>
                        </div>
                    </div>
                </div>

            </div>
            <img class="mx-3 arrow" src="../../assets/Vector 7.png" alt="">
            <img class="arrow" src="../../assets/Vector 8.png" alt="">
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="monial">
                <h1 class="heading">Our Testimonals</h1>
            </div>
            <div class="clients">What Our Clients Are <span style="border-bottom: 4px solid orange;">Saying</span></div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4 my-4">
            <div class="container1">
                <div class="quotations">
                    <img class="q1" src="../../assets/19399522241579780463 1.png" alt=""><br>
                    <p class="q_text">Loreum Lorem ipsum is a placeholder text commonly used to demonstrate the
                        visual form of a document or a typeface without relying on meaningful content.
                        Lorem ipsum may be used as a placeholder before final copy is available. Wikipedia
                    </p>
                    <h3 class="float-left"><span style="color:orange">-</span>UI Soup</h3>
                </div>
            </div>
        </div>


        <div class="col-sm-4 my-4">
            <div class="container1">
                <div class="quotations">
                    <img class="q1" src="../../assets/19399522241579780463 1.png" alt=""><br>
                    <p class="q_text">Loreum Lorem ipsum is a placeholder text commonly used to demonstrate the
                        visual form of a document or a typeface without relying on meaningful content.
                        Lorem ipsum may be used as a placeholder before final copy is available. Wikipedia
                    </p>
                    <h3 class="float-left"><span style="color:orange">-</span>UI Soup</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-2"></div>
    </div>

    <div class="container2">
        <div class="col-sm-4 mx-4 col-xs-12">
            <div>
                <h1 class="head" style="font-family:'Times New Roman', Times, serif;color: white;">Dream Agency</h1>
                <p style="font-size: 15px; color: white;">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged</p>
                <h5 style="color: white;">GET IN TOUCH</h5>
                <span style="background-color: black; color: white;">
                    <input class="placeholder" style="background-color: black; color: white; padding:15px;" type="email"
                        placeholder="ENTER YOUR EMAIL">
                    <button class="button1">SEND</button>
                </span>
            </div>
        </div>

        <div class="map col-sm-4 col-xs-12">
            <img class="inside_div" src="../../assets/map.jpeg" alt="">
            <div class="map_text">
                <h5>Texas</h5>
                <h6>United States</h6>
                <p style="color: blue;">View Larger Map</p>
            </div>
        </div>
    </div>
</div>